.footer {
    background-color: #2C3154;
    padding: 24px 0;
}

.footer-wrapper {
    width: 370px;
    margin: auto;
}

.copyright {
    font-size: $_description;
    color: #808080;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    text-align: center;
}

.copyright-part {
    font-size: $_description;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}

@media (max-width: 1024px) {
    .footer {
        padding: 14px 0;
    }
    
    .footer-wrapper {
        width: 314px;
    }
    
    .copyright {
        font-size: 14px;
    }
    
    .copyright-part {
        font-size: 14px;
    }
  }

  @media (max-width: 320px) {
   .footer {
    padding: 29px 0;
   }
   .footer-wrapper {
    width: 280px;
}
  }